body {
    background-color: powderblue;
}
h4 {
    color: #D19275;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    padding-left: 40px;
}

form {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding: 3em;
    font-family: Arial, Helvetica, sans-serif;
	color: #666666;
}

#container{
	position: relative;
	width: 100%;
}

#container {
	position: relative;
	width: 980px;
	margin: 0 auto;
	background-color: transparent;
	min-height: 100%;
}

nav {
	position: absolute;
	width: 534px;
	top: 38px;
	left: 450px;
	background: transparent;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #A3A3A3;
}

nav ul li {
	float: left;
	margin-left: 16px;
	line-height: normal;
}

nav ul li a {
	font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: normal;
	display: block;	
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: transparent;
	margin-top: 5px;
	margin-right: 6px;
   text-decoration: none;
}


